


.header-top {
  display: flex;
  position: relative;
}

.logo{
  width: 283px;
  height: 283px;
  margin: 0 auto;
  cursor: pointer;
}

.translate {
  background: transparent;
  border: none;
}

.language {
  position: absolute;
  right: 78px;
  top: 0;
  margin-top: 239px;
}

.language img{
  background: transparent;
  width: 52px;
  height: 43px;
}
.pages__name {
  margin: 44px 0px 32px;
  padding: 0;
}

.pages__links {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
}

.pages__links li {
  display: inline-block;
}
.pages__links-active{
  color: #EA6D40;
}

.pages__links li a {
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: #666666;
  font-weight: 800;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.pages__links li a:hover {
  color: #EA6D40;
}

.orange-block{
  background-color: #EA6D40;
  margin: 32px auto 0;
  padding: 27px 0;

  width: 100%;
  box-shadow: 12px 16px 16px rgba(0, 0, 0, 0.5);
}

.orange-block p {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
}

