
.main{
  margin-top: 213px;
  position: relative;
}
.main__info{
  display: flex;
  flex-direction: column;
}

.info__bottom {
  flex: 1 0 auto;
}
/* * {
  outline: solid red;
} */  
.main__images {
  display: flex; 
  align-items: flex-end;
  justify-content: space-between;
  gap: 30px;
  
}

.flag__image {
  width: 420px;
  height: 203px;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  position: absolute;
  
}

.chick__image {
  position: relative;
  z-index: -2;
  object-fit: cover;  
  overflow: visible;
}

.main__text p{
  width: 525px;
  text-align: center;
  font-size: 36px;
  font-family: 'Kurale', serif;
  font-weight: 400;
 
}

.main__button {
  display: inline-block;
  float: right;
  padding: 13px 72px;
  margin-top: 65px;
  margin-bottom: 103px;
  text-align: center;
  background-color: rgba(81, 17, 17, 0.12);

  font-size: 36px;
  font-weight: 400;
  color: #511111;
  border-radius: 22px;
  
  transition: all 0.3s ease-in;
}



.main__button:hover {
  box-shadow: inset 0 6px 5px rgba(0, 0, 0, 0.25);
}
